:root {
	--font-family-serif: "EB Garamond", serif;
	--font-family-sans: "Nunito Sans", -apple-system, BlinkMacSystemFont,
		system-ui, sans-serif;

	--base-light-color: #efdbc1;
	--base-dark-color: #16161d;
	--base-accent-color: #ef5c02;
	--base-secondary-color: #736248;

	--background-body: var(--base-light-color);
	--text-primary: var(--base-dark-color);
	--accent-color: var(--base-accent-color);
	--text-secondary: var(--base-secondary-color);
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--background-body: var(--base-dark-color);
		--text-primary: var(--base-light-color);
		--accent-color: var(--base-accent-color);
		--text-secondary: var(--base-secondary-color);
	}
}
