:root {
	--font-family-serif: "EB Garamond", serif;
	--font-family-sans: "Nunito Sans", -apple-system, BlinkMacSystemFont,
		system-ui, sans-serif;
	--font-family-mono: "MonoLisa", Inconsolata, monospace;
	
	--base-light-color: #BED9DA;
	--base-dark-color: #053161;
	--base-accent-color: #FF6A34;
}
