<footer>
	<a href="/rss.xml" target="_blank">RSS</a> / <a
		href="https://github.com/nanofus/portfolio"
		target="_blank">Source</a
	>
</footer>

<style>
	footer {
		color: var(--text-color);
		font-size: 0.7rem;
		margin: 1rem auto;
		padding: 1rem 2rem;
		text-align: center;
		width: 100%;
	}
</style>
