<footer>
	<a href="/src/pages/rss.xml" target="_blank">RSS</a> / <a
		href="https://github.com/nanofus/website"
		target="_blank">Source</a
	>
</footer>

<style>
	footer {
		color: var(--text-primary);
		font-size: 0.7rem;
		margin: 1rem auto;
		padding: 1rem 2rem;
		text-align: center;
		width: 100%;
		text-transform: lowercase;
	}
</style>
