---
import { FAVICON, SITE_TITLE } from "src/consts";

const { current = "" } = Astro.props;
---

<style></style>

<header>
	<nav>
		<a id="main-logo" class={current === "" ? "selected" : ""} href="/">
			<span>{FAVICON} {SITE_TITLE}</span>
		</a>
		<span class="filler"></span>
		<a class={current === "creations" ? "selected" : ""} href="/creations"
			>Creations</a
		>
		<a class={current === "writing" ? "selected" : ""} href="/writing"
			>Writing</a
		>
	</nav>
</header>

<style>
	header {
		display: flex;
		margin: 0 auto;
		padding-top: 2rem;
		padding-bottom: 2rem;
		width: 100%;
	}

	#main-logo {
		color: var(--text-on-accent-color);
		background-color: var(--accent-color);
		border-bottom-right-radius: 1rem;
		border-top-right-radius: 1rem;
		transition: filter 0.3s ease;
	}

	#main-logo:hover {
		color: var(--text-on-accent-color);
		filter: brightness(0.8);
	}

	nav {
		align-items: center;
		display: flex;
		flex: 1;
		font-family: var(--font-family-sans), sans-serif;
		font-weight: 500;
		justify-content: flex-end;
		margin-right: 1rem;
	}

	.filler {
		flex-grow: 1;
	}

	a {
		text-decoration: none;
		padding: 1rem;
		display: block;
		position: relative;
		text-align: center;
	}

	a:not(.selected) {
		opacity: 0.8;
	}
</style>
